#rent>a{
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#land>a{
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#agent>a{
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
#contact>a{
    color: black;
    font-weight: lighter;
    text-decoration: none;
}
body{
    background-color: #FAFAFA;
}
#name{
    font-style: italic;
    padding-right: 100px;
    font-size: 35px;
    color: black;
}
#home>a{
    padding-right: 100px;
    color: #2549D3;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
    text-decoration: none;
}
#rent{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
}
#land{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
}
#agent{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
}
#contact{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: x-large;
}
#get>a{
    background-color: #2549D3;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-size: x-large;
    text-decoration: none;
}
#helping{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding-left: 100px;
    font-size: 50px;
    color: #2549D3;
}
#property{
    padding-left: 100px;
    font-size: 50px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#dreams{
    padding-left: 100px;
    font-size: 50px;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#creating{
    font-family: 'Space Grotesk', sans-serif, Arial, Helvetica, sans-serif;
    padding-left: 100px;
    font-size: 20px;
}
#stronger{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    padding-left: 100px;
}
#learn{
    padding: 20px;
    background-color: #2549D3;
    margin-left: 0px;
    color: white;
    border-radius: 10px;
}
#bar2{
    display: flex;
    flex: row;
}
#location{
    padding-right: 100px;
    margin-left: 200px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#propertytype{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#max{
    padding-right: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#search>a{
    padding: 20px;
    background-color: #2549D3;
    color: #FAFAFA;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
#lekki{
    color: grey;
}
#duplex{
    color: grey;
}
#price{
    color: grey;
}
#our{
    color: #2549D3;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: xx-large;
    margin-left: 100px;
}
#how{
    color: #2549D3;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#this{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
#bar3{
    display: flex;
    flex: row;
    padding-top: 100px;
}
#find{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
}
#ourproperties{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
}
#makepayments{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 30px;
}
#ourestates{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
}
#makeitofficial{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 20px;
}
#wehave{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: black;
}
#whyus{
    font-family: Arial, Helvetica, sans-serif;
    color: #2549D3;
}
#creatingquality{
    font-weight: lighter;
    color: #FAFAFA;
    font-size: large;
}
#list{
    list-style: inside;
    list-style-type: square;
    list-style-position:initial;
    color: black;
    font-weight: lighter;
    font-size: large
}
#featured{
    flex-grow: 100px;
    display: flex;
    flex: row;
    justify-content: space-between;
}
#ourfeatured{
    font-family: Arial, Helvetica, sans-serif;
    color: #2549D3;
    text-align: center;
    border-color: white;
    border-color: white;
}
#biggest{
    font-size: x-large;
    color: black;
    text-align: center;
    font-weight: lighter;
}
#palace{
    color: black;
    font-weight: bold;
}
#ivy{
    color: black;
    font-weight: bold;
}
#rexona{
    color: black;
    font-weight: bold;
}
#lekki2{
    font-size: large;
    color: black;
    font-weight: lighter;
}
#lekkiprice{
    font-size: large;
    font-weight: lighter;
    color: #2549D3;
}
#esteemed{
    display: block;
    text-align: center;
    border-color: white;
}
#esteemedc{
    color: #2549D3;
    font-family: Arial, Helvetica, sans-serif;
}
#clientsay{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: lighter;
}
#alex{
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    color: black;
}
#client{
    display: flex;
    flex: row;
    padding: 0px, 200px, 200px, 200px;
    border-color: white;
}
#lorem{
    font-size: large;
    font-weight: lighter;
    color: black;
}
#last{
    background-color: #2549D3;
    color: white;
    list-style: none;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: medium;
}
#solutions{
    font-weight: lighter;
    font-size: large;
}
#learning{
    font-weight: lighter;
    font-size: medium;
}
#about{
    font-weight: lighter;
    font-size: medium;
}
#resources{
    font-weight: lighter;
    font-size: medium;
}
#propertylist{
    list-style: none;
    font-weight: lighter;
    font-size: large;
}
#aboutlist{
    list-style: none;
    font-weight: lighter;
    font-size: large;
}
#resourceslist{
    list-style: none;
    font-size: large;
    font-weight: lighter;
}
html{
    color: #2549D3;
}
.header{
    display: flex;
    flex: row;
    border-bottom: solid 1px;
    align-items: center;
    justify-content: space-around
}
.description{
    display: flex;
    flex: row;
    align-items: center;
}
.container{
    display: flex;
    flex: row;
    padding: 20px;
    align-items: center;
}
#creating{
    color: black;
}
#this{
    color: black;
    padding-top: 0px;
}
.steps{
    display: flex;
    flex: row;
    color: black;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 50px;
}
.rating{
    display: flex;
    flex: row;
    align-items: center;
    margin-left: 300px;
    justify-content: space-between;
    margin-right: 300px;
    margin-bottom: 50px;
    margin-top: 30px;
}
#reasons{
    list-style: none;
    line-break: auto;
    list-style-position: inside;
    color: black;
    line-break: loose;
    font-size: 30px;
}
.featuredproperties{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}
.message{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
    color: black;
    padding: 70px;
    background-color: #FAFAFA;
}
#clientsay{
    color: black;
    text-align: center;
}
.footer{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-around;
    background-color: #2549D3;
    color: white;
}
*{
    font-family: 'Space Grotesk', 'Oleo Script';
}